; default.key
; put your default credentials here so they do not appear in the console history and rename the file to default.key
; follows the .ini file format used by parse_ini_file()

; your threema ID: 8 character string
id=

; your API secret from Threema Gateway
secret=

; your private key in hex format (no 'private:' prefix)
private=

; your public key in hex format (no 'public:' prefix)
public=
